#contact-form {
  padding-top: 128px;
  padding-bottom: 128px;
  border-top: 16px solid #F47A7A;
  color: white;
  background: #DA4453;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
}

#contact-form h2 {
  color: white;
}

#contact-container {
  gap: 64px;
  display: flex;
}

.contact-intro {
  display: flex;
  gap: 8px;
}
