#contact-form {
  padding-top: 128px;
  padding-bottom: 128px;
  border-top: 16px solid #F47A7A;
  color: white;
  background: #DA4453;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
}

#contact-form h2 {
  color: white;
}

#contact-container {
  gap: 64px;
  display: flex;
  justify-content: center;
}

.contact-intro {
  display: flex;
  gap: 8px;
}

#contact-form .title-container {
  width: 40%;
}

#contact-form .form-container {
  width: 60%;
}

@media (min-width: 768px) and (max-width: 1367px) {
  .posts-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #contact-form .title-container {
    width: 100%;
  }

  #contact-form .form-container {
    width: 100%;
  }

}

@media (min-width: 320px) and (max-width: 768px) {
  #contact-container {
    flex-direction: column;
  }

  #contact-form .title-container {
    width: 100%;
  }

  #contact-form .form-container {
    width: 100%;
  }


}
