/* ==========================================================================
   Global layout styles
   ========================================================================== */

body { 
    margin: 0;
}

header {
	width: 100%;
	min-height: 400px;
}

#wrapper {
	display: flex;
	width: 100%;
	height: 100%;
}

/* ==========================================================================
   Section styles
   ========================================================================== */

.section {
	padding-left: var(--section-padding);
	padding-right: var(--section-padding);
	padding-top: 32px;
	padding-bottom: 32px;
	box-sizing: border-box;
}

.section.dark {
	background-color: var(--secondary-background-color);
	height: auto;
	color: white;
}

/* ==========================================================================
   Component styles
   ========================================================================== */

.intro {
	text-align: center;
}
