:root {
/* ==========================================================================
   COLOR VARIABLES
   ========================================================================== */

/* Primary color vars */
    --primary1-color:#267365;
    --primary2-color: #245F80;
    --primary3-color: #78BFB2;

    /* Secondary color vars */
    --secondary1-color: #F23030;
    --secondary2-color: #BF2626;
    --secondary3-color: #F47A7A;

    /* Tertiary color vars */
    --tertiary1-color: #F29F05;
    --tertiary2-color: #FFA805;
    --tertiary3-color: #F4BA4E;

    /*Layout color vars*/
    --border-color: #eaeaea;
    --background-color: #f5f5f5;
    --secondary-background-color: #324759;

    /* Text color vars */
    --primary-text-color: #4e4e4e;
    --secondary-text-color: #7d7d7d;    

/* ==========================================================================
   Typography variables
   ========================================================================== */

/********* TYPOGRAPHY VARS ********/
    /* Color vars */
    --primary-font-family:  'Source Sans Pro', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;

    /* Size vars */
    --primary-font-size: 1rem;
    --secondary-font-size: 0.8rem;

/* ==========================================================================
   Layout variables
   ========================================================================== */
    --section-padding: 15%;
}
/* ==========================================================================
   Dark theme variables
   ========================================================================== */
@media (prefers-color-scheme: dark) {
    /********* COLOR VARS ********/
    :root {
    /* Primary color vars */
        --primary1-color: red;
        --primary2-color: green;
        --primary3-color: blue;

        /* Secondary color vars */
        --secondary1-color: yellow;
        --secondary2-color: pink;
        --secondary3-color: purple;

        /*Layout color vars*/
        --border-color: pink;
        --background-color: purple;

        /* Text color vars */
        --primary-text-color: white;
        --secondary-text-color:#eaeaea;   
    }
}
