:root{
    /* Primary color vars */
    primary1Color: red;
    primary2Color: green;
    primary3Color: blue;

    /* Secondary color vars */
    secondary1Color: red;
    secondary2Color: green;
    secondary3Color: blue;

}


