.button-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button-base {
  width: auto;
  height: 32px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  line-height: 32px;
  background-color: transparent;
  padding: 4px;
}

.button-base:hover {
  transition: 0.1s ease-in-out;
}

.button-base:focus {
  transition: 0.2s ease-in-out;
}


/* --- CALL TO ACTION BUTTON ---*/
.call-to-action {
  background-color: var(--tertiary2-color);
}


/* --- PRIMARY BUTTON ---*/

.primary {
  height: 44px;
  border: none;
  border-radius: 8px;
  background-color: var(--secondary3-color);
  padding: 8px 12px;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  color:white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 3px solid var(--secondary2-color);
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  line-height: 12px;
}

.primary:focus {
  background-color: var(--secondary3-color);
  border-color: var(--secondary2-color);
  outline: 2px solid #F4BA4E;
  
}
.primary:hover {
  background-color: var(--secondary2-color);
  border-color: var(--secondary3-color);
}

/* --- ICONBUTTON ---*/
.icon-button {
  border: 2px solid var(--button-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 32px;
  fill: white;
}

.icon-button:hover {
  border-color: var(--button-hover-color);
  fill: var(--button-hover-color);
  color: var(--button-hover-color);
}

.icon-button:focus {
  border-color: var(--button-focus-color);
  fill: var(--button-focus-color);
  color: var(--button-focus-color);
}

.icon-button:focus-visible {
  outline: var(--button-hover-color);
  fill: var(--button-hover-color);
  color: var(--button-hover-color);

}