:root {
  font-size: 13px;
}

h4 {
  font-size: 1.5em;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  position: relative;
}

a:after {
  content: '';
  position: absolute;
  width: 40%;
  top: 24px;
  left: 0;
  border-bottom: 4px solid var(--primary1-color);
  transform: scaleX(0);
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: center;
  transition: 0.2s ease-in-out;
}

a:visited {}

.subtitle {
  font-size: 2.5em;
  text-align: center;
  color: #7d7d7d;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 64px;
  font-family: var(--secondary-font-family);
}
